page-statistics {

    .titleText{
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: left;
        transform: translate(-50%, -50%);
    }

    .statisticBody{
        background-image: linear-gradient(#4facfe, #00f2fe);
    }

    .headTitle{
        text-align: center;
        font-weight: bold;
        color: #000000;
        font-size: 14px;
    }

    .canvasCard{
        border-radius: 15px;
    }

    .simpleCard{
        width:50%; 
        border-radius: 15px; 
        margin: 6px;
    }

    .button-inner{
        color: #ffffff;
    }
    
    .toolbar-title{
        color: #ffffff;
    }
}
